.btn-link {
    height: 20px;
    outline: none !important;
}

#comment {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#likes {
    text-align: center;
}

.likesCount {
    text-align: center;
    border-bottom: 1px double #c2c0c2;
}

#deleteClick {
    text-align: center;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.tooltip-inner {
    min-width: 150px;
}

.noComment {
    pointer-events: none;
    cursor: default;
    color: grey;
}

#confirmDelete{
    padding-top: 15%;
}

.likesDiv {
    position:absolute;
    top:0;
    right:0;
}

.deleteComment {
    position: absolute;
    bottom: 5px;
    right: 12px;
}

.commentCreated hr{
    position: relative;
    top: 20px;
}

.commentCreated p {
    font-size: 10px;
    font-style: italic;
}

.author {
    position: relative;
    top: -5px;
}