.btn-link {
    height: 20px;
    outline: none !important;
}

#likes {
    text-align: center;
}

.likesCount {
    text-align: center;
}

.thumb {
    /*width: 16px;*/
}

#deleteClick {
    text-align: center;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.tooltip-inner {
    min-width: 150px;
}

.noComment {
    pointer-events: none;
    cursor: default;
    color: grey;
}

#confirmDelete{
    padding-top: 15%;
}