.sidebarRow {
    border-bottom: 1px;
    padding-bottom: 20px;
}

.sidebarImg {
    float: left;
    padding-left: 15px;
    padding-right: 5px;
}

.sidebarImage {
    width: 75px !important;
    height: 75px !important;
}

.sidebarLinkTitle {
    white-space: pre-line;
}